@{
  Layout = "_Layout";
}

@model SweetSavory.Models.Treat
<div class="row">
  <div class="col-md-12">

    <h3>Add Treat</h3>
    @using(Html.BeginForm())
    {
      @Html.LabelFor(model => model.Name)<br>
      @Html.TextBoxFor(model => model.Name)<br><br>

      <input type="submit" class="btn btn-primary" value="Add">
    }
  </div>
</div>