@{
  Layout = "_Layout";
}

@model SweetSavory.Models.Treat
<div class="row">
  <div class="col-md-12">
    @if(@Model == null)
    {
      <p>Sorry, this is not a valid treat.</p>
    }
    else
    {
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="panel-title">
            <strong>Treat: @Model.Name</strong>
            <a href='@Url.Action("Edit", new {id = @Model.TreatId})'>
              <button class="btn btn-warning">Edit</button>
            </a>
          </div>
        </div>
        <div class="panel-body">
          <strong>Flavors for this treat</strong>
          <hr>
          <ul>
            @foreach(var join in Model.Flavors)
            {
              <li>@Html.ActionLink($"{join.Flavor.Name}", "Details", "Flavors", new {id = join.Flavor.FlavorId})</li>
            }
          </ul>
        </div>
      </div>
    }
  </div>
</div>