  <ul class="nav nav-tabs" class="nav">
    <li role="presentation">@Html.ActionLink("Home", "Index", "Home")</li>
    <li role="presentation">@Html.ActionLink("Login", "Login", "Account")</li>
    <li role="presentation">@Html.ActionLink("Register", "Register", "Account")</li>
  </ul>