@{
  Layout = "_Layout";
}

@using SweetSavory.Models
@model SweetSavory.Models.Flavor
<div class="row">
  <div class="col-md-12">
    @if(@Model == null)
    {
      <p>Sorry, this is not a valid flavor.</p>
    }
    else
    {
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="panel-title">
            <strong>Flavor: @Model.Name</strong>
          </div>
        </div>
        <div class="panel-body">
          <strong>Treats with this flavor</strong>
          <ul>
            @foreach(var join in Model.Treats)
            {
              <li>@Html.ActionLink($"{join.Treat.Name}", "Details", "Treats", new {id = join.Treat.TreatId})</li>
            }
          </ul>
        </div>
      </div>
    }
  </div>
</div>