@{
  Layout = "_Layout";
}
@using SweetSavory.Models

<div class="row">
  <div class="col-md-6">
    <h3>Flavors</h3>
    <hr>
    <a href='@Url.Action("Create", "Flavors")'>
      <button class="btn btn-primary">Add Flavor</button>
    </a>
    <hr>
    @if(ViewBag.Flavors.Count == 0)
    {
      <p>There are no current flavors.</p>
    }
    else
    {
      <ul>
      @foreach(Flavor flavor in ViewBag.Flavors)
      {
        <li>@Html.ActionLink($"{@flavor.Name}", "Details", "Flavors", new {id = flavor.FlavorId})</li>
      }
      </ul>
    }
  </div>
  <div class="col-md-6">
    <h3>Treats</h3>
    <hr>
    <a href='@Url.Action("Create", "Treats")'>
      <button class="btn btn-primary">Add Treat</button>
    </a>
    <hr>
    @if(ViewBag.Treats.Count == 0)
    {
      <p>There are no current treats.</p>
    }
    else
    {
      <ul>
      @foreach(Treat treat in ViewBag.Treats)
      {
        <li>@Html.ActionLink($"{@treat.Name}", "Details", "Treats", new {id = treat.TreatId})</li>
      }
      </ul>
    }
  </div>
</div>